body {
	background-color: #42a5f4;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;	
}
#game_header{
	text-align: center;
	color: #ef4141;
	padding-bottom: 70px;
}
h2{
	color: #ef4141;
	text-align: center;
}
#output{
	border: 4px #00b2cc;
	width: 45px;
	height: 113px;
	overflow: hidden;
}
div{
	color: #ef4141;
}

